{% extends "basenew.html" %}

{% block content %}

<header class="bg-dark py-3">
    <div class="container">
        <h1 class="text-light text-center">Questo è FGTHCT-ERP </h1>
    </div>
</header>

<section id="about-us" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Chi Siamo</h2>
        <p>L'azienda FGTHCT-ERP è nata dall'idea di creare soluzioni innovative nel campo dell'autoinformazione
            semplificata
            . Fondata nel 2006, abbiamo una lunga storia di successo nel fornire servizi di alta
            qualità ai nostri clienti.</p>
        <p>La nostra missione è semplice: vogliamo migliorare la vita delle persone attraverso tecnologie sostenibili,
            offrire prodotti di qualità a prezzi accessibili, far lavorare meno la popolazione affinchè posso dedicare
            più tempo agli affetti ed agli hobbies.
            Siamo impegnati a raggiungere questo obiettivo attraverso l'innovazione, l'integrità e con l'ausilio della
            intelligenza Artificiale. Il tutto
            gestito con il nostro servizio clienti eccezionale.</p>
        <p>Nei nostri valori fondamentali, crediamo fermamente nella trasparenza, nell'etica del lavoro e nell'impegno
            per l'eccellenza. Ci sforziamo di creare un ambiente di lavoro inclusivo e collaborativo dove ogni membro
            del team possa contribuire al successo dell'azienda.</p>
        <p>Con il nostro impegno per la qualità e l'innovazione, abbiamo guadagnato la fiducia e il rispetto dei nostri
            clienti e dei nostri partner commerciali. Guardiamo avanti con entusiasmo verso il futuro, pronti ad
            affrontare sfide e opportunità con determinazione e creatività.</p>
    </div>
</section>

<section id="our-services" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">I Nostri Servizi</h2>
        <p>Offriamo una vasta gamma di servizi progettati per soddisfare le esigenze dei nostri clienti e supportare il
            loro successo. Di seguito sono elencati alcuni dei principali servizi che offriamo:</p>

        <ul class="list-group list-group-flush">

            <li class="list-group-item"><strong>1. Consulenza Strategica:</strong> Il nostro team di esperti offre
                consulenza strategica su una varietà di questioni, dall'analisi del mercato alla pianificazione
                aziendale. Lavoriamo a stretto contatto con i nostri clienti per sviluppare strategie personalizzate che
                li aiutino a raggiungere i loro obiettivi aziendali.</li>
            <li class="list-group-item"><strong>2. Sviluppo Software:</strong> Siamo specializzati nello sviluppo di
                software su misura per le esigenze specifiche dei nostri clienti. Dalla progettazione e lo sviluppo alla
                manutenzione e all'aggiornamento, ci occupiamo di ogni fase del processo di sviluppo del software.</li>
            <li class="list-group-item"><strong>3. Servizi IT:</strong> Forniamo una vasta gamma di servizi IT, tra cui
                assistenza tecnica, gestione dei server, sicurezza informatica e altro ancora. Il nostro team di esperti
                è disponibile 24 ore su 24, 7 giorni su 7, per garantire che i nostri clienti abbiano sempre il supporto
                di cui hanno bisogno.</li>
            <li class="list-group-item"><strong>4. Formazione e Sviluppo:</strong> Offriamo programmi di formazione e
                sviluppo su misura per le esigenze dei nostri clienti. Dalla formazione sui prodotti e sulle tecnologie
                all'aggiornamento delle competenze dei dipendenti, ci impegniamo a fornire programmi di alta qualità che
                aiutino i nostri clienti a crescere e a prosperare.</p>
                <p>Questi sono solo alcuni dei servizi che offriamo. Ci impegniamo a fornire soluzioni innovative e di
                    alta qualità che aiutino i nostri clienti a raggiungere il successo.
            </li>

            <!-- Aggiungi altri servizi se necessario -->
        </ul>
    </div>
</section>

<section id="our-work" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">I Nostri Lavori</h2>
        <p>Presso <strong>FGTHCT-ERP</strong>, siamo orgogliosi di presentare alcuni dei nostri lavori più recenti e
            significativi. Grazie alla nostra esperienza, creatività e impegno verso l'eccellenza, siamo stati in grado
            di realizzare progetti di successo in una vasta gamma di settori. Di seguito sono elencati alcuni dei nostri
            lavori più recenti:</p>
        <p><strong>1. Sviluppo di un E-commerce Personalizzato:</strong> Abbiamo collaborato con un cliente del settore
            al dettaglio per sviluppare un e-commerce personalizzato che ha aumentato in modo significativo le loro
            vendite online. Il nostro team ha progettato e implementato una piattaforma robusta e user-friendly che ha
            migliorato l'esperienza di shopping dei loro clienti e ha ottimizzato i processi di gestione degli ordini.
        </p>
        <p><strong>2. Implementazione di una Soluzione Software per la Gestione delle Risorse Umane:</strong> Per
            un'azienda del settore delle risorse umane, abbiamo sviluppato e implementato una soluzione software su
            misura per la gestione delle risorse umane. Questa soluzione ha semplificato la gestione dei dipendenti,
            ottimizzato i processi di reclutamento e migliorato la comunicazione interna all'azienda.</p>
        <p><strong>3. Creazione di un Sito Web Istituzionale:</strong> Abbiamo lavorato con un'organizzazione non profit
            per creare un nuovo sito web istituzionale che aumentasse la loro visibilità online e facilitasse la
            raccolta fondi. Il nostro team ha progettato un sito web moderno e intuitivo che ha aiutato l'organizzazione
            a raggiungere i propri obiettivi di comunicazione e di raccolta fondi.</p>
        <p><strong>4. Progettazione di un'App Mobile Innovativa:</strong> Abbiamo collaborato con una startup per
            progettare e sviluppare un'app mobile innovativa nel settore della salute e del benessere. L'app offre agli
            utenti una serie di funzionalità utili, tra cui monitoraggio della salute, pianificazione degli allenamenti
            e accesso a contenuti educativi. Grazie al nostro lavoro, l'app è diventata un successo sul mercato e ha
            ricevuto recensioni positive dagli utenti.</p>
        <p>Questi sono solo alcuni esempi dei nostri lavori più recenti. Ci impegniamo a fornire soluzioni creative,
            innovative e di alta qualità che soddisfino le esigenze e superino le aspettative dei nostri clienti.</p>
    </div>
</section>
{% endblock content %}