{% extends "basenew.html" %}


{% block content %}
<!-- Sezione di presentazione -->
<section class="container my-5">
    <h2 class="text-center mb-4">Cosa offriamo</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="media/magazzino.jpg" class="card-img-top img-fluid d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gestione Magazzino</h5>
                    <p class="card-text">Carico e scarico articoli, valorizzazione del magazzino...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="media/Vendita.jpg" class="card-img-top img-fluid d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Service</h5>
                    <p class="card-text">Gestione delle vendite.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="media/fatturazione.png" class="card-img-top img-fluid d-block" alt="...">
                <div class="card-body mt-4">

                    <h5 class="card-title">Fatturazione</h5>
                    <p class="card-text">Gestione del ciclo attivo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}